*{
    list-style:none;
    text-decoration:none;
    border-collapse:collapse;
    margin:0px;
    padding:0px;
}
.header{
    width:1920px;
    margin:auto;
    
    height:67px;
    
    }
.nav{
    display:flex;
    margin-left:1200px;
    
    }
.nav>li{
    margin-left:37px;
    margin-top:21px;
    color:black;
    }
.search{
    margin-top:-9px;
    }
.logo{
        margin-top:-50px;
        margin-left:240px;
    }
.first{
    margin-top:50px;
    margin-left:257px;
}
.pear{
    margin-top:-370px;
    margin-left:120px;
}
.name>h1{
    font-size:16px;
    color:#707070;
    margin-left:400px;
    margin-top:-70px;
}
.count>h2{
    margin-left:1050px;
    color:#707070;
    margin-top:-20px;
    font-size:16px;
}
.second{
    margin-top:350px;
}