*{
    list-style:none;
    text-decoration:none;
    border-collapse:collapse;
    margin:0px;
    padding:0px;
}
.header{
    width:1920px;
    margin:auto;
    
    height:67px;
    
    }
.nav{
    display:flex;
    margin-left:1200px;
    
    }
.nav>li{
    margin-left:37px;
    margin-top:21px;
    color:black;
    }
.search{
    margin-top:-9px;
    }
.logo{
        margin-top:-50px;
        margin-left:240px;
    }
.last{
    margin-top:47px;
}